Package: com.samkl.DarkVeexilium
Name: DarkVeexilium
Version: 1.0
Architecture: iphoneos-arm
Description: This is a dark version of Veexilium which themes most none dark icons. It is recommended to have veexilium installed. 
Maintainer: samkl
Author: samkl
Section: Themes (SpringBoard)
