Package: com.samkl.StatusLS
Name: StatusLS
Version: 1.0.1b
Architecture: iphoneos-arm
Description: HTML widget which has all essential, including music player and status bar.
Maintainer: samkl
Author: samkl
Section: Widgets
